# Ejercicios Pair Programming - M√≥dulo 2 Sprint 2
## Lecci√≥n 1 - EDA I
### Natalia Garc√≠a Lago y Noemi Azor√≠n

In [48]:
import pandas as pd

Si recordamos, en la lecciones de Pandas estuvimos usando un dataset sobre ataques de tiburones, y que hicimos algunos cambios a lo largo de los ejercicios, incluimos filas, columnas e incluso limpiamos algunas colummas üí™üèΩ! Para todas los ejercicios de pair programming de EDA I y II usaremos el dataframe generado en el ejercicio de Pandas VII.

In [9]:
ataques = pd.read_csv("ficheros/attacks4.csv", index_col=0)
ataques.head()

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,unnamed:_0,injury,mes,fatal,sex
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,FATAL,Jun,Y,M
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,8,Lower left leg bitten,May,N,M
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,10,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,13,Injured by teeth of a dead porbeagle shark he ...,May,N,M

Pero para hacer una exploraci√≥n buena del dataset no lo podemos hacer como pollo sin cabeza a ver que nos encontramos. Necesitamos hacernos una serie de preguntas o hip√≥tesis que queramos contestar. En este caso os plantemos las siguientes preguntas a contestar a lo largo de los ejercicios de pair programming de este m√≥dulo:

# Hip√≥tesis
Las hip√≥tesis que os planteamos son:

- ¬øEs Australia el sitio m√°s peligroso y letal para estar relajada en la playa?

- ¬øHay diferencias entre los pa√≠ses en los ataques a hombres y mujeres?

- ¬øCu√°les son las edades que m√°s sufren ataques?

- Independientemente de la edad, ¬øsufren los hombres m√°s ataques que las mujeres?

- ¬øEn qu√© mes ocurren m√°s ataques?

- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?

- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

# Objetivos
Los objetivos de hoy son:

1 - Haced una exploraci√≥n inicial del dataframe:
- ¬øCu√°l es el n√∫mero de filas y columnas?

In [10]:
ataques.shape

(1672, 18)

- ¬øCu√°l es el porcentaje de valores nulos en cada columna? Presenta los resultados en un dataframe, donde las columnas sean el nombre de las variables y el porcentaje de nulos.

In [16]:
ataques_nulos = (ataques.isnull().sum()*100)/ataques.shape[0]
ataques_nulos.reset_index()

          index          0
0   case_number   0.000000
1          year   0.000000
2          type   0.000000
3       country   0.598086
4          area   2.751196
5      location   3.050239
6      activity   1.854067
7          name   0.538278
8           age   9.210526
9          time   9.569378
10     species_   7.535885
11         href   0.000000
12        siglo   0.000000
13   unnamed:_0   0.000000
14       injury   0.478469
15          mes  13.038278
16        fatal   5.801435
17          sex   0.897129

- ¬øQu√© tipos de datos hay en cada columna?

In [13]:
ataques.dtypes

case_number     object
year           float64
type            object
country         object
area            object
location        object
activity        object
name            object
age             object
time            object
species_        object
href            object
siglo           object
unnamed:_0       int64
injury          object
mes             object
fatal           object
sex             object
dtype: object

- Extraed la informaci√≥n general del dataframe.

In [17]:
ataques.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   float64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   area         1626 non-null   object
 5   location     1621 non-null   object
 6   activity     1641 non-null   object
 7   name         1663 non-null   object
 8   age          1518 non-null   object
 9   time         1512 non-null   object
 10  species_     1546 non-null   object
 11  href         1672 non-null   object
 12  siglo        1672 non-null   object
 13  unnamed:_0   1672 non-null   int64
 14  injury       1664 non-null   object
 15  mes          1454 non-null   object
 16  fatal        1575 non-null   object
 17  sex          1657 non-null   object
dtypes: float64(1), int64(1), object(16)
memory usage: 248.2+ KB

In [19]:
ataques_columnas = ataques.columns
ataques_columnas

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'siglo',
       'unnamed:_0', 'injury', 'mes', 'fatal', 'sex'],
      dtype='object')

2 - Cread dos dataframes nuevos, uno que incluya solo las variables categ√≥ricas y otro que incluya solo las variables num√©ricas:

- ¬øCu√°les son los principales est√°disticos de los dataframes?

In [23]:
ataques_categoricas = ataques.select_dtypes(include="object")
ataques_categoricas.head(2)

,case_number,type,country,area,location,activity,name,age,time,species_,href,siglo,injury,mes,fatal,sex
0,2018.06.25,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,FATAL,Jun,Y,M

In [24]:
ataques_numericas = ataques.describe().T
ataques_numericas

,count,mean,std,min,25%,50%,75%,max
year,1672.0,1832.688397,528.969901,0.0,1964.00,1997.0,2008.0,2018.0
unnamed:_0,1672.0,2574.174043,1756.622536,0.0,1218.25,2210.0,3687.5,6285.0

- Extraed los valores √∫nicos su frecuencia. BONUS presenta los resultados en un dataframe. Ver un ejemplo del resultado en apuntes.

In [46]:
def valores_unicos(col):
    dict = {}
    for col in ataques_categoricas.columns:
        dict[col]=ataques_categoricas[col].unique()
    return pd.DataFrame(dict)

In [47]:
valores_unicos(ataques_categoricas)

ValueError: All arrays must be of the same length

In [27]:
for col in ataques_categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(ataques_categoricas[col].unique())
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna case_number tenemos los siguientes valores unicos
['2018.06.25' '2018.06.03.a' '2018.05.26.b' ... 'ND.0003' 'ND.0002'
 'ND.0001']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna type tenemos los siguientes valores unicos
['Boating' 'Unprovoked' 'Provoked' 'Invalid' 'Sea Disaster' 'Boat']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna country tenemos los siguientes valores unicos
['USA' 'BRAZIL' 'AUSTRALIA' 'ENGLAND' 'COSTA RICA' 'MALDIVES'
 'SOUTH AFRICA' 'CUBA' 'SPAIN' 'BAHAMAS' 'INDONESIA' 'EGYPT' 'NEW ZEALAND'
 'FRENCH POLYNESIA' 'NEW CALEDONIA' 'ECUADOR' 'THAILAND' 'REUNION'
 'MEXICO' 'JAMAICA' 'ITALY' 'PAPUA NEW GUINEA' 'RUSSIA' 'SEYCHELLES'
 'VIETNAM' 'GUAM' 'MOZAMBIQUE' 'SCOTLAND' 'UNITED KINGDOM' 'TAIWAN'
 'CROATIA' 'FIJI' 'TONGA' 'ST. MAARTIN' 'GRAND CAYMAN' 'VANUATU'
 'VENEZUELA' 'TURKS & CAICOS' 'OKINAWA' 'MARSHALL ISLANDS' 'MAURITIUS'
 'HONG KONG' 'JAPAN' 'SOUTH KOREA' 'ISRAEL' 'MICRONESIA' 'COLUMBIA'
 'NEW BRITAIN' 'PALAU' 'SOLOMON ISLANDS' 'FEDERATED STATES OF MICRONESIA'
 'GREECE' 'BRITISH WEST INDIES' 'NORTH PACIFIC OCEAN' 'BERMUDA'
 'PHILIPPINES' 'AMERICAN SAMOA' 'PACIFIC OCEAN' 'SENEGAL' 'ARGENTINA'
 'EL SALVADOR' 'IRAQ' 'PANAMA' 'INDIA' nan 'BARBADOS' 'MARTINIQUE'
 'GUINEA' 'GREENLAND' 'FRANCE' 'MEDITERRANEAN SEA' 'SWEDEN' 'ICELAND'
 'ROATAN' 'Between PORTUGAL & INDIA' 'CANADA' 'KENYA' 'URUGUAY' 'LEBANON'
 'SUDAN' 'DJIBOUTI' 'LIBYA' 'SRI LANKA' 'BAHREIN' 'KOREA' 'IRAN'
 'RED SEA?' 'SINGAPORE' 'MADAGASCAR' 'NICARAGUA' 'KIRIBATI' 'SAUDI ARABIA'
 'BURMA' 'BELIZE' 'ASIA?' 'CEYLON (SRI LANKA)']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna area tenemos los siguientes valores unicos
['California' 'Pernambuco' 'Florida' 'Queensland' 'Cornwall'
 'Cocos Island' 'Western Australia' 'Alifu Alifu Atoll'
 'Western Cape Province' 'Eastern Cape Province' 'Hawaii' 'Victoria'
 'New South Wales' 'Fernando de Noronha' 'Holquin Province'
 'South Australia' 'New York' 'Castell√≥n' 'Massachusetts' 'South Carolina'
 'New Providence ' 'Bali' 'Alicante Province' 'Texas' 'North Carolina'
 'Suez' 'North Island' 'Tuamotos' 'Grand Terre' 'Galapagos Islands'
 'Phuket' 'Alicante' 'Tasmania' 'Le Port' 'Rangiroa'
 'Saint-Gilles-les-Bains' 'Bora Bora' 'd\x92√âtang-Sal√©' 'Abaco Islands'
 'Alabama' 'Louisiana' 'West End' 'Delaware' 'Society Islands'
 'South Island' 'North Province' 'Oregon' 'Exuma Islands'
 'Santa Cruz Island' 'Saint-Gilles' 'Quintana Roo' 'Tuamotus'
 'St. Catherine' 'Sinaloa' 'Sardinia' 'Guerrero' 'Puerto Rico'
 'Central Province' 'Telyakovsky Bay, Khasan,  Primorsky Krai (Far East)'
 'Praslin' 'KwaZulu-Natal' ' Loyalty Islands' 'South Sinai Peninsula'
 'Maine' 'Grand Canary Island' 'Binh Dinh Province' 'Sinai Peninsula'
 'Saint-Benoit' 'Merizo' 'Western Province' 'Maputo Province' 'New Jersey'
 'Fife' 'Devon' 'St. Johns Reef' 'Off Green Island' 'North Region'
 'Guantanamo Province' ' Split-Dalmatia Count,' 'Northern Territory'
 'US Virgin Islands' 'Guerro' 'Northern Bahamas' 'Loyalty Islands'
 'Grand Bahama Island' 'Red Sea' 'Territory of Cocos (Keeling) Islands'
 'Virginia' 'Kent' 'South Province' 'Guam' 'Vitu Levu' "Vava'u"
 'Simpson Bay' 'East Wall' 'Malampa Province' 'New Mexico'
 'Camaguey Province' 'Conservat√≥ria District' 'South Carolina '
 'Saint-Beno√Æt' 'South Island, near Karitane north of Dunedin'
 'Anzoategui' 'Nueva Esparta' 'Southland' 'Caicos Bank' 'Maryland'
 'KwaZulu-Natal between Port Edward and Port St Johns' 'Taveuni'
 'Miyako Island' 'Saint-Pierre' 'Rio de Janeiro' 'Ralik Chain'
 'Grand Baie' "L' Etang Sal√©-les-Bains" 'Berry Islands' 'Gaza'
 'Chatham Islands ' 'Saint-Paul ' 'Vava\x92u' 'New Territories'
 'Aichi Prefecture' 'Saint-Denis' 'Costa Blanca' 'Walkers Cay'
 'Saint-Paul' 'Ehime Prefecture' 'Ligurian Sea' "L'Etang-Sal√©"
 'Port Shelter' 'Tyrrhenian Sea' 'Sicily' 'Chungnam' "Grand'Anse"
 'Baja California' 'Istria County' 'Eastern Caroline Islands'
 'Magdalena Department' 'Out Islands' 'New Ireland Province'
 'Duke of York Islands' 'Western Caroline Islands'
 'Bougainville (North Solomons)' 'Victoria ' 'Northern Taiwan' 'Vita Levu'
 'Gulf Province' ' Lau Province' 'Ysabel Island' 'Thessaly'
 'Lomaiviti  Island Group' 'Veracruz' 'Grand Turk Island'
 'Northern District' 'Madang' '10¬∫S, 142¬∫E' 'Kwajalein Atoll'
 'Torres Strait' 'Primorje-Gorski Kotar County ' 'Adriatic Sea'
 'Wake Island (EnenKio)' 'Paget' '33N, 68W' 'Kadavu' 'North Palawan'
 'Wakayama Prefecture' 'Tutuila Island' 'Cat Cay'
 'Between Hawaii & Wake Island' 'Taipei Hsien' 'Milne Bay Province'
 'Near Dakar, Cap Vert Peninsula' 'Buenos Aires Province'
 'Madang Province' ' La Libertad' 'Jakarta Harbour' 'Attica' 'Basrah'
 'Gulf of Panama' 'Cay Sal Bank' 'Andros Islands' 'Basrah City'
 'Queensland ' 'Golfo di Genova in the Ligurian Sea' 'Westmoreland Parish'
 'Hoogly River' 'St. Anne' nan 'St Helena' 'Sussex' "C√¥te d'Azur "
 'Havana Province' 'Skagerrak arm of the North Sea'
 'Las Perlas archipelago' 'Bardestrand' 'Southwest coast' 'West Bengal'
 'New York ' 'Kerala' 'Nice & Marseilles' 'Magarita or Cubagua Islands'
 'Ionian Sea' 'Piraeus' 'Off Thessaly' 'Mombasa' 'Bocas del Toro Province'
 'Rocha' 'Rocha ' 'Morobe Province' 'Canary Islands' 'Red Sea State'
 'Gulf of Tadjoura' 'Cyrenaica' 'Northern Province' 'Los Roques  Islands'
 'Dodecanese Islands' 'Inhambane Province' 'Malaita Province'
 'South Korea' 'Khuzestan Province' 'Milne Bay  Province'
 'Island of Volos' 'Amirante Islands' 'Kadavu Island Group'
 'Toamasina Province' 'Riau Province' 'Maharashtra'
 'Lake Nicaragua (fresh water)' 'Bikini Atoll' 'Phoenix Islands'
 'Gilbert Islands' 'New Georgia' 'Eastern Province'
 'Between New Ireland & New Britain' 'Ba Ria-Vung Tau  Province'
 'Moala Island' 'North Carolina ']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna location tenemos los siguientes valores unicos
['Oceanside, San Diego County' 'Piedade Beach, Recife'
 'Cocoa Beach, Brevard  County' ... 'Ocracoke Inlet'
 'Panama Bay 8¬∫N, 79¬∫W' 'Below the English fort, Trincomalee']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna activity tenemos los siguientes valores unicos
['Paddling' 'Swimming' 'Walking' 'Feeding sharks' 'Fishing' 'Scuba diving'
 'Surfing' 'Paddle-skiing' 'Stand-Up Paddleboarding' 'Wading'
 'Spearfishing' 'Night bathing' 'Kayaking / Fishing' 'Snorkeling' 'SUP'
 'Kayaking' 'Body boarding' 'Scuba Diving' 'Surf skiing ' 'Surf fishing'
 'Floating' 'SUP Foil boarding' 'Kite surfing' 'Floating in tube'
 'Standing' 'Diving' 'Teasing a shark' 'Paddle boarding' 'Kayak Fishing'
 'Surf-skiing' 'Scallop diving on hookah' 'Body boarding '
 'Playing in the water' 'Body Boarding' 'Boogie boarding' 'Playing'
 'Standing / Snorkeling' 'Hand feeding sharks' 'Rowing' 'Shark fishing'
 'Fishing ' 'Kayaking ' 'Body surfing' 'Shark diving'
 'Diving for lobsters' 'Kitesurfing' 'Kiteboarding' 'Diving '
 'Swimming / snorkeling' 'Diving for Abalone' 'Casting a net'
 'Cleaning fish' 'Boogie Boarding' 'Playing in the surf' 'Kite boarding'
 "Fishing - 'tag & release'" 'Bodyboarding' 'Swimming or boogie boarding'
 'Free diving ' 'Sitting in the water'
 'Attempting to rescue an injured & beached shark'
 'Free diving / spearfishing' 'Diving, feeding sharks' 'Kite Surfing'
 'Swimming or Snorkeling' 'Kite Boarding'
 'Washing sand off a speared fish' 'Surfing ' 'Wakeboarding'
 'Diving for abalone' 'Rescuing' 'Measuring sharks'
 'Swimming / treading water' 'Spearfishing (free diving)' 'Wade Fishing'
 'Crawling' 'Diving, but on the surface when bitten by the shark'
 'Treading water' 'Walking out of the water after surfing' 'Jet skiing'
 "Accidentally stood on hooked shark's tail before attempting to gut it "
 'Jumping' 'Floating near boat & observing bioluminesce'
 'Jumped into the water' 'Reviving a sedated shark'
 'Swimming / jumping off a jetty' 'Swimming / Body Surfing'
 'Playing soccer in the water' 'Lifesaving drill' 'Free diving'
 'Fishing for sharks' 'Standing / Surfing'
 'Boogie boarding, kicked at object in the water'
 'Holding onto an inflatable boat' 'Swimming with boogie board'
 'Spearfishing (Free diving)' 'Diving in aquarium display tank'
 'Fishing from a kayak' 'Scurfing (surfboard being  towed behind a boat)'
 'Chumming for white sharks' 'Bathing'
 'Wading / fishing & carrying a bag of fish'
 'Swimming, poaching perlemoen' 'Free diving & spearfishing'
 'Tandem surfing' 'Wading near a fishing net' 'Standing, stepped on shark'
 'Swimming, wearing black wetsuit & swim fins' 'Sitting on surfboard'
 'Walking, carrying surfboard & stepped on shark'
 'Swimming with pod of dolphins' 'Swimming (using a float)' 'Unknown'
 'Fishing from Surfboard' 'Boogie boarding or Surfing' 'Surf skiing'
 'Wading, when he stepped on the shark' 'Shark Fishing'
 'Snorkeling (filming the sardine run)' 'Floating on a raft'
 'Fishing, removing the shark from his line'
 'Scallop diving (using surface-supplied air & a POD) '
 'Surfing, but standing in water alongside board' 'Swimming / Wading'
 'Body-boarding' 'Swimming /  boogie boarding'
 'Surfing, fell off surfboard & stepped on the shark.'
 'Wreck / Technical diving' 'Swimming ' 'Standing alongside surfboard'
 'Swimming back from anchored sailboat' 'Swimming / Body surfing'
 'Windsurfing, but sitting on his board' 'Surfing / Wading'
 'Spearfishing, holding mesh bag with speared fish'
 'Spearfishing, but swimming at surface' 'Surfing, lying on surfboard'
 "Lying prone in 2' of water" 'Spearfishing & holding catch'
 'Swimming with dolphins' 'Wading in school of baitfish'
 'Splashing / wading' 'Windsurfing'
 'Swimming after being swept into sea by a large wave'
 'Swimming near pod of whales' 'Free diving for abalone'
 'Towing rubber dinghy' 'Surfing (lying prone on his board)'
 'Snorkeling \x96 hunting crayfish and abalone'
 'Swimming or paddle boarding' 'Scuba diving (submerged riding a scooter)'
 'Body boarding or surfing' 'Surfing (sitting on his board)'
 'Wading / Surfing' 'Body surfing, stood up on sandbar'
 'Surfing / Swimming' 'Wade fishing' 'Swimming breast stoke'
 'Dived naked into the water on a bet' 'Swimming with mask & snorkel'
 'Playing / standing' 'Abalone diving using Hookah (near calving whales)'
 'Abalone diving using Hookah (resting on the surface)'
 'Scuba diving (ascending using scooter)' 'Scuba diving for bivalves'
 'Commercial diver (submerged or treading water)'
 'Surfing, paddling seawards' 'Jumped off rocks into white water'
 'Hookah diving' 'Riding floatation device'
 'Free diving for abalone (ascending)'
 'Paddling on surfboard or body board' 'Scuba diving at seal colony'
 'Paddling on surfboard' 'Free diving & spearfishing (ascending)'
 'Standing in waist-deep water, helping his father tend a gill net containing dead fish'
 'Lying on surfboard' 'Spearfishing / free diving'
 'Scuba diving (submerged)' 'Hookah diving for sea urchins'
 'Hookah diving for pen shells ' 'Finning the shark that bit him'
 'Canoeing' 'Swimming behind sailboat' 'Surfing, collided with shark'
 'Free diving / spearfishing, from paddleboard & floating on the surface'
 'Scuba diving (but on surface)' 'Resting on surfboard'
 'Lying on surfboard & paddling' "Fishing, stepped on hooked shark's head"
 'Hookah diving for abalone (descending)' 'Feeding fish'
 'Scuba diving, but swimming on surface' 'Surfing with dolphins'
 'Sittting in water with his child' 'Lying atop surfboard'
 "Attempting to lasso shark's tail"
 'Free diving  & spearfishing (submerged)' 'Racing ski'
 'Hookah diving for abalone' 'Free diving for scallops'
 'Scuba Diving for lobster (at surface)'
 'Sailing on catamaran & fell into the water' 'Surfing or body surfing'
 'Skindiving' 'Towing her sister on plastic ski board'
 'Swimming from the New Venture '
 '14 m prawn trawler New Venture capsized  & sank in heavy seas Three people in the water'
 'Water-skiing' 'Paddleskiing'
 'Free diving for abalone from Zodiac (submerged)' 'Paddle Boarding'
 'Snorkeling on surface' 'Shell diving' 'Standing / Wading'
 'Free diving for abalone (surfacing)' 'Spearfishing / Scuba diving'
 'Hookah diving for abalone (submerged)'
 'Thrashing the water / imitating the shark victim from "Jaws"'
 'Scuba diving & spearfishing' 'Floating on a small orange raft '
 'Scuba diving for abalone' 'Scuba diving for abalone (at surface)'
 'Swimming underwater from crayfish cage to a fishing bait'
 'Free diving (but on surface)' 'Free diving, Spearfishing'
 'Sitting in shallows' 'Scuba diving & feeding fish'
 'Feeding mullet to sharks' 'Dynamite fishing' 'Spearfishing using Scuba'
 'Wading & pushing dinghy toward  the shallows' 'Standing on sandbar'
 'Pulling shark from the water'
 'Spearfishing, dived to pick up a float line'
 'Anti-sabotage night dive exercise alongside destroyer (Scuba diving)'
 'Photographing sharks underwater using Scuba'
 'Free diving, carrying speargun' 'Diving into water'
 'Spearfishing on Scuba' 'Killing a shark' 'Clamming'
 'Helping men land a shark'
 'Free diving / spearfishing (resting on the surface)' 'Walking on reef'
 'Paddling rescue ski' 'Canoe swamped, swimming back to canoe'
 'Free diving with seals' 'Surfing, but swimming to his board'
 'Floating on his back in an inner tube' 'Spearfishing using scuba'
 'Attempting to swim across the Atlantic Ocean' 'Skin diving '
 'Spearfishing / Scuba diving (at surface)'
 'Helping friend land hooked shark' 'Splashing in surf'
 'Treading water while alongside capsized yacht'
 'Fishing / standing in waist deep water' 'Surf fishing, wading '
 'Spearing fish' 'Spearfishing, pulled shark\x92s tail'
 'Free diving, hunting crayfish' 'Spearfishing with Scuba gear'
 'Surf fishing in waist-deep water' 'Fishing for albacore'
 'Rolled off raft' 'Scuba diving, attempting to catch a captive shark'
 'Splashing ' 'Fishing, slipped on rocks & fell into sea'
 "Fishing with hand net in 2' of water" 'Surfing, pushing board ashore'
 'Swimming with other crew near wharf'
 'Net fishing, picking catch from the net' 'Walking in chest-deep water'
 'Checking fish traps, fell into the water'
 'Swimming, using bundles of sticks as raft'
 'Spearfishing, shark grabbed his white t-shirt and towed him '
 'Collecting aquarium specimens'
 'Fishing, when line became snagged on rock & he dived into water to free it '
 'Holding shark on leader & dangling it above the water'
 'Fishing, tossing netted shark onboard'
 'Free diving but treading water at surface'
 'Skindiving for abalone (but at surface)' 'Wading, fishing for flounder'
 'Standing in chest-deep water' 'Trailing the field in a surf race'
 "Swimming at surface through school of feeding 2.5' to 5\x92 sharks"
 "Adrift, hanging onto cushion, after his 17' skiff ran out of gas & capsized 3 miles from shore"
 'The 240-ton motor vessel Pilar II with 100 people on board capsized in high winds & rough seas'
 'Spearfishing (but on surface)' 'Working prawn net'
 'In deep water about 100 yards from his ship'
 'Surfing, but treading water' 'Surfing on air mattress'
 'Cleaning hull of ship '
 'Swimming, ducking for shells in water 0.9 m deep'
 'U.S. Airforce C124 enroute from Hickham Air Base to Japan went down. The 3 survivors fashioned raft from mailbags  & were rescued 3 days after the crash.'
 'Spearfishing, had fish on his spear' 'Paddling in knee-deep water'
 'Swimming with goggles'
 'Competing in spearfishing championship & towing dead fish'
 'Swimming between  anchored  pearling luggers' 'Skindiving, fish at belt'
 'Swimming near pier' 'Swimming, attacked at  surf carnival'
 'Hunting lobsters in 2.4 m of water' 'Pearl diving from lugger Whyalla'
 'Crouching in the water' 'Fishing, setting nets'
 'Body surfing & treading water' 'Fell off surf ski'
 'Body surfing / treading water'
 'Jerked overboard while pole fishing for tuna' 'Bending over'
 'Free diving or wading back to shore' 'Bathing in water 0.9 m deep'
 'Lifesaving exhibition' 'Underwater photography'
 'Swimming after a tennis ball' 'Jumping in swells'
 'Dived overboard to check propeller of US Navy motor torpedo boat'
 'Dog paddling or standing' 'Swimming along side N.E.L. vessel Saluda'
 "Fishing from 32' boat"
 'Dress diving, filming shark & pulling it through the water for a motion picture scene'
 'Swimming, naked' 'Diving off jetty'
 'Diving from the lugger San, operated by the Protector of the Aborigines'
 'Refused permission to cross on the ferry, he was swimming across the river'
 'Swimming crawl stroke' 'Diving for trochus'
 'Swimming. Passer-by, Len Bedford, heard him shriek , saw shark leap from the water & swimmer disappeared'
 'Fell overboard, hanging onto lifebuoy' 'Splashing'
 'Swimming in waist-deep water ' 'Swimming in hip-deep water'
 'Swimming on sandbar adjacent to channel'
 'Collecting fish by lamplight in gully'
 'Diving off pier & treading water' 'Standing in knee-deep water'
 'Swimming with dog near canning factory' 'Floating on his back'
 'Bathing in waist-deep water' 'Had just dived into water & was swimming'
 "Bathing in 3' to 4' of water" 'Bathing in knee-deep water'
 'Washing horses' "a corsair's boat was overturned" 'Dropped overboard'
 nan 'Washing himself' 'Murder'
 'Fell overboard from a frigate & was swallowed by a shark. The captain fired a gun at the shark, and "the creature cast the man out of his throat."'
 'Fell overboard' 'Pearl diving' 'Went overboard'
 'Ship lay at anchor & man was working on its rudder'
 'Man fell overboard from ship. Those on board threw a rope to him with a wooden block & were pulling him to the ship'
 'Sponge diving' 'Ascending from a dive'
 'Washing his pig in preparation for a religious ceremony'
 'Shipwrecked Persian Fleet' 'Shipwreck' 'Swimming/' 'Swimming to canoe'
 'Fell into the water' 'Fishing for basking sharks' 'Collecting fish '
 'Skin diving' 'Shark tagging' 'A dhow capsized' 'Net-fishing'
 'Netting shrimp' 'Fishing?' 'Spearfishing ' 'Wade-fishing'
 'Free diving for sponges' 'Helmet diving' 'yachtsman in a zodiac'
 'Attempting to drive shark from area'
 "Skin diving. Grabbed shark's tail; shark turned & grabbed diver's ankle & began towing him to deep water"
 'Crossing river on a raft' 'Free diving, collecting sand dollars'
 'Swimming from capsized pirogue'
 'Fishing from a small boat & put his hand in the water while holding a dead fish'
 'Swimming naked near a date palm where many dates fell into the water'
 'Swimming in section of river used for washing clothes & cooking utensils'
 'Swimming with fish attached to  belt'
 'Testing movie camera in full diving dress' 'Swimming near anchored ship'
 'Lashing logs together when he fell into the water'
 'Shark fishing, knocked overboard' 'Fishing, wading with string of fish'
 'A group of survivors on a raft for 17-days'
 'Fishing in ankle-deep water'
 'Standing, washing rear wheels of his ambulance in ankle-deep water'
 'Carrying a supposedly dead shark by its mouth' 'Spent 8 days in dinghy'
 'Aircraft ditched in the sea, swimming ashore' 'Wooden fishing boat'
 'Swimming in pool formed by construction of a wharf'
 'Swimming around anchored ship'
 'Crew swimming alongside their anchored ship' '4 men were bathing'
 'Wreck of  large double sailing canoe']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna name tenemos los siguientes valores unicos
['Julie Wolfe' 'Jose Ernesto da Silva ' 'Cody High' ... 'Ahmun'
 'Coast Guard personnel' 'Jules Patterson']

 ------------------------------------------------------------

------------------------------------------------------------

En la columna age tenemos los siguientes valores unicos

In [37]:
for col in ataques_categoricas.columns:
    print("------------------------------------------------------------", "\n")
    print(f"En la columna {col} tenemos los siguientes valores unicos")
    print(pd.DataFrame(ataques_categoricas[col].value_counts()))
    print("\n", "------------------------------------------------------------", "\n")

------------------------------------------------------------

En la columna case_number tenemos los siguientes valores unicos
              case_number
2018.06.25              1
1975.07.15              1
1979.11.27              1
1980.00.00.b            1
1980.01.10              1
...                   ...
2005.10.13              1
2005.10.19              1
2005.10.21              1
2005.10.22              1
ND.0001                 1

[1672 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna type tenemos los siguientes valores unicos
              type
Unprovoked    1432
Provoked       115
Invalid         92
Boating         17
Sea Disaster    12
Boat             4

 ------------------------------------------------------------

------------------------------------------------------------

En la columna country tenemos los siguientes valores unicos
                    country
USA                     741
AUSTRALIA               343
SOUTH AFRICA            234
BAHAMAS                  29
NEW ZEALAND              21
...                     ...
GREENLAND                 1
ST. MAARTIN               1
UNITED KINGDOM            1
SWEDEN                    1
CEYLON (SRI LANKA)        1

[95 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna area tenemos los siguientes valores unicos
                                                    area
Florida                                              346
California                                           137
New South Wales                                      137
Hawaii                                               108
Western Cape Province                                 83
...                                                  ...
KwaZulu-Natal between Port Edward and Port St J...     1
Miyako Island                                          1
Saint-Pierre                                           1
Ralik Chain                                            1
North Carolina                                         1

[236 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna location tenemos los siguientes valores unicos
                                     location
New Smyrna Beach, Volusia County           73
Myrtle Beach, Horry County                  7
Nahoon                                      7
Daytona Beach, Volusia County               7
Melbourne Beach, Brevard County             6
...                                       ...
Kangaroo Island                             1
Sunny Cove, Fish Hoek                       1
Jack McKenney's Canyon                      1
Honokowai, Maui                             1
Below the English fort, Trincomalee         1

[1310 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna activity tenemos los siguientes valores unicos
                                      activity
Surfing                                    426
Swimming                                   240
Spearfishing                               105
Fishing                                     56
Wading                                      53
...                                        ...
Playing / standing                           1
Swimming with mask & snorkel                 1
Dived naked into the water on a bet          1
Swimming breast stoke                        1
Wreck of  large double sailing canoe         1

[404 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna name tenemos los siguientes valores unicos
                   name
male                 97
female               16
males                 4
child                 3
Andre Hartman         3
...                 ...
Elizabeth Gardner     1
Clair Parrett         1
Brad Satchell         1
Josh Berris           1
Jules Patterson       1

[1536 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna age tenemos los siguientes valores unicos
          age
19         70
18         60
20         58
15         57
17         57
...       ...
64          1
74          1
40s         1
60s         1
13 or 14    1

[94 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna time tenemos los siguientes valores unicos
                     time
11h00                  74
Afternoon              69
16h00                  53
15h00                  51
Morning                50
...                   ...
23h00                   1
Just before sundown     1
"Evening"               1
12h39                   1
Before 10h30            1

[248 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna species_ tenemos los siguientes valores unicos
                                                    species_
White shark                                               76
Tiger shark                                               37
4' shark                                                  34
Bull shark                                                32
Shark involvement not confirmed                           26
...                                                      ...
1.2 m [4'] blacktip or sandbar shark                       1
Bull shark, 1.8 m to 2.1 m [6' to 7']                      1
Mako shark, 400-lb                                         1
1.2 m to 1.5 m [4' to 5'] shark, possibly a bul...         1
Said to involve a grey nurse shark that leapt o...         1

[856 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna href tenemos los siguientes valores unicos
                                                    href
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
...                                                  ...
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1
http://sharkattackfile.net/spreadsheets/pdf_dir...     1

[1672 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna siglo tenemos los siguientes valores unicos
           siglo
siglo-XX     887
siglo-XXI    785

 ------------------------------------------------------------

------------------------------------------------------------

En la columna injury tenemos los siguientes valores unicos
                                                    injury
FATAL                                                  154
Foot bitten                                             28
Leg bitten                                              20
No injury, board bitten                                 17
Left foot bitten                                        17
...                                                    ...
Left knee & leg bitten                                   1
Calf bitten & both hands injured                         1
Back, buttocks, left hand & left side of face b...       1
Right forearm & wrist lacerated                          1
FATAL. "Shark bit him in half, carrying away th...       1

[1173 rows x 1 columns]

 ------------------------------------------------------------

------------------------------------------------------------

En la columna mes tenemos los siguientes valores unicos
     mes
Aug  153
Oct  145
Sep  145
Jul  134
Jun  133
Jan  124
Apr  123
May  105
Dec  101
Mar   98
Nov   98
Feb   95

 ------------------------------------------------------------

------------------------------------------------------------

En la columna fatal tenemos los siguientes valores unicos
   fatal
N   1258
Y    317

 ------------------------------------------------------------

------------------------------------------------------------

En la columna sex tenemos los siguientes valores unicos
    sex
M  1435
F   222

 ------------------------------------------------------------

# Conclusiones
De qu√© nos sirven estos n√∫meros y dataframe? Extraed conclusiones de ellos.
Por ejemplo:

¬øHay alguna columna que no tenga sentido su tipo de datos?

¬øHay alguna columna que no tenga sentido su nombre?

¬øHay alguna columna que no tenga sentido su contenido?

¬øHay alguna columna que tenga demasiadas categor√≠as o valores que nos pueda hacer dif√≠cil trabajar con ella?

- En primer lugar, podemos observar que la columna case_number es de tipo object y deber√≠a ser datetime. Por otro lado, la columna age, deber√≠a ser de tipo int64 y no object.
- El nombre de la columna case_number no es intuitivo, ya que es una fecha.
- Teniendo la fecha completa en la columna de case_number, la columna mes no nos ser√≠a del todo relevante.
- Dependiendo del an√°lisis que queramos realizar, podr√≠amos agrupar las especies de tiburones solo por raza y no por tama√±o, o por ejemplo la columna time en partes del d√≠a y no por horas. Lo mismo sucede para las actividades, ya que se podr√≠an agrupar en categor√≠as menos concretas.