# Ejercicios Pair Programming - M√≥dulo 2 Sprint 2
## Lecci√≥n 1 - Limpieza I
### Natalia Garc√≠a Lago y Noemi Azor√≠n

Es el momento de empezar a limpiar nuestro dataframe que hemos ido viendo que est√° bastante sucio!
En este ejercicio trabajaremos con el dataframe que nos guardamos en la sesi√≥n de pair de Pandas VII.

Antes de seguir, recordamos las preguntas que nos planteamos al principio del pair programming de EDA para dirigir nuestro an√°lisis.

- ¬øEs Australia es el sitio m√°s peligroso y letal para estar relajada en la playa?

- ¬øCu√°l es el rango de edad que sufre la mayor√≠a de los ataques?

- Independientemente de la edad, sufren los hombres m√°s ataques que las mujeres?

- ¬øEn qu√© mes ocurren m√°s ataques?

- ¬øCu√°l es la relaci√≥n entre la especie y el tipo de ataque (si es fatal o no)?

- ¬øC√≥mo han evolucionado los ataques a lo largo del tiempo?

- De todo esto, nos damos cuenta que solo tenemos que limpiar algunas de las columnas, en concreto age, species, country, fatal, year, sex.

In [24]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv("../ficheros/attacks4.csv", index_col=0)
df.head()

,case_number,year,type,country,area,location,activity,name,age,time,species_,href,siglo,unnamed:_0,injury,mes,fatal,sex
0,2018.06.25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,57,18h00,White shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,0,"No injury to occupant, outrigger canoe and pad...",Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,18,Late afternoon,Tiger shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,6,FATAL,Jun,Y,M
2,2018.05.26.b,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,15,17h00,"Bull shark, 6'",http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,8,Lower left leg bitten,May,N,M
3,2018.05.24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,32,Morning,Grey reef shark,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,10,Minor bite to hand by captive shark. PROVOKED ...,May,N,M
4,2018.05.13.a,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,21,08h15,Invalid incident,http://sharkattackfile.net/spreadsheets/pdf_di...,siglo-XXI,13,Injured by teeth of a dead porbeagle shark he ...,May,N,M

In [26]:
df.to_csv("../ficheros/copia_ataques4.csv")

Entre las tareas que tendr√©is que hacer hoy:

1- Al empezar a trabajar con este dataframe ya eliminamos algunas columnas que a priori no nos interesaban. Ahora llega el momento de eliminar alguna columna m√°s. En este caso tendr√©is que eliminar las columnas que no nos sean √∫tiles para contestar a nuestras preguntas. Pero ojo ‚ö†Ô∏è, haced una copia del dataframe para no "cargarnos" el dataframe original y perder la info.

In [27]:
df.columns

Index(['case_number', 'year', 'type', 'country', 'area', 'location',
       'activity', 'name', 'age', 'time', 'species_', 'href', 'siglo',
       'unnamed:_0', 'injury', 'mes', 'fatal', 'sex'],
      dtype='object')

In [28]:
#procedemos a eliminar las columnas: area, location, name, time, siglo, unnamed:0, href y injury:

df.drop(["area", "location", "name", "time", "siglo", "unnamed:_0", "href", "injury"], axis= 1, inplace=True)

In [29]:
#comprobamos que se han eliminado:
df.head(2)

,case_number,year,type,country,activity,age,species_,mes,fatal,sex
0,2018.06.25,2018.0,Boating,USA,Paddling,57,White shark,Jun,N,F
1,2018.06.03.a,2018.0,Unprovoked,BRAZIL,Swimming,18,Tiger shark,Jun,Y,M

In [30]:
#limpiamos el nombre de la columna "species_" para eliminar el _ :

df.rename(columns = {"species_" : "species"}, inplace = True)

2 - ¬øHay valores duplicados en nuestro dataframe? En caso de que los haya, elimin√°ndlos.

In [31]:
df.duplicated().sum()

0

3 - Como hemos visto, algunas columnas no tienen el tipo de datos que deber√≠an. Cambiad el tipo de dato para la columna de year.

In [32]:
df.dtypes

case_number     object
year           float64
type            object
country         object
activity        object
age             object
species         object
mes             object
fatal           object
sex             object
dtype: object

In [33]:
df["year"] = df["year"].astype("int64")

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1672 entries, 0 to 1671
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   case_number  1672 non-null   object
 1   year         1672 non-null   int64
 2   type         1672 non-null   object
 3   country      1662 non-null   object
 4   activity     1641 non-null   object
 5   age          1518 non-null   object
 6   species      1546 non-null   object
 7   mes          1454 non-null   object
 8   fatal        1575 non-null   object
 9   sex          1657 non-null   object
dtypes: int64(1), object(9)
memory usage: 143.7+ KB

In [35]:
df.head()

,case_number,year,type,country,activity,age,species,mes,fatal,sex
0,2018.06.25,2018,Boating,USA,Paddling,57,White shark,Jun,N,F
1,2018.06.03.a,2018,Unprovoked,BRAZIL,Swimming,18,Tiger shark,Jun,Y,M
2,2018.05.26.b,2018,Unprovoked,USA,Walking,15,"Bull shark, 6'",May,N,M
3,2018.05.24,2018,Provoked,AUSTRALIA,Feeding sharks,32,Grey reef shark,May,N,M
4,2018.05.13.a,2018,Invalid,ENGLAND,Fishing,21,Invalid incident,May,N,M

4 - En la columna de country poner todos los valores en min√∫sculas.
üí° Pista Tendr√©is que usar una funci√≥n o una lambda üí°

In [36]:
def columna_country (country):
    try:
       return country.lower()
    except:
        return np.nan

In [37]:
df["country"] = df["country"].apply(columna_country)

In [38]:
df.head()

,case_number,year,type,country,activity,age,species,mes,fatal,sex
0,2018.06.25,2018,Boating,usa,Paddling,57,White shark,Jun,N,F
1,2018.06.03.a,2018,Unprovoked,brazil,Swimming,18,Tiger shark,Jun,Y,M
2,2018.05.26.b,2018,Unprovoked,usa,Walking,15,"Bull shark, 6'",May,N,M
3,2018.05.24,2018,Provoked,australia,Feeding sharks,32,Grey reef shark,May,N,M
4,2018.05.13.a,2018,Invalid,england,Fishing,21,Invalid incident,May,N,M

5 - Guardamos el csv para seguir trabajando en el siguiente ejercicio de pair de limpieza.

In [39]:
guardado1 = df.to_csv("../ficheros/ataques_limpiezaI.csv")