# Ejercicios Pair Programming - M칩dulo 2 Sprint 2
## Lecci칩n 4 - ETL 3.1
### Natalia Garc칤a Lago y Noemi Azor칤n

In [40]:
import pandas as pd
import mysql.connector

In [41]:
df = pd.read_csv('../ficheros/attacks_limpieza_completa.csv', index_col=0)
df.head(2)

,year,type,country,age,species_,fecha_limpia,fatal,sex,latitud,longitud,...,fatal_N,fatal_Unknown,fatal_Y,fatal_N.1,fatal_Unknown.1,fatal_Y.1,species_.1,fecha_limpia.1,type.1,age_NORM
0,2018,Boating,usa,57.0,White shark,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,4,7,1,9.116327
1,2018,Unprovoked,usa,11.0,Unespecific,Jun,N,F,39.78373,-100.445882,...,1,0,0,1,0,0,3,7,7,3.804860


Es el momento de meter todos nuestros datos en SQL 游눩游낗!!! En este ejercicio nos crearemos dos tablas en una BBDD creada por nosotras. Una de las tablas contendr치 la informaci칩n que obtuvimos de los ejercicios de pair programming de Limpieza, es decir, el data set de ataques de tiburones limpito. La segunda tabla tendr치 la informaci칩n obtenida en el ejercicio de pair de ETL 1.

游늷 Nota Todo lo tendremos que hacer desde jupyter notebook

- Cread la BBDD con el nombre de tiburones.
- Cread las tablas de la BBDD: tabla ataques, tabla clima

游뚿 En caso de que no teng치is los datos unidos de la sesi칩n anterior, ten칠is un csv datos_union_clima_ataques con todos los datos que necesitareis para este ejercicio

In [42]:
#creamos la bbdd 

def crear_bbdd(nombre_bbdd):
    
    mydb = mysql.connector.connect(
      host="localhost",
      user="root",
      password='AlumnaAdalab' 
    )
    print("Conexi칩n realizada con 칠xito")
    
    mycursor = mydb.cursor()

    try:
        mycursor.execute(f"CREATE DATABASE IF NOT EXISTS {nombre_bbdd};")
        print(mycursor)
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [43]:
bbdd_ataques= crear_bbdd("tiburones")

Conexi칩n realizada con 칠xito
MySQLCursor: CREATE DATABASE IF NOT EXISTS tiburones;

In [44]:
#creamos la funci칩n para la inserci칩n de las tablas

def insertar_tabla(nombre_bbdd, contrase침a, query):
    
   
    cnx = mysql.connector.connect(user='root', password=f"{contrase침a}",
                                     host='127.0.0.1', database=f"{nombre_bbdd}")
   
    mycursor = cnx.cursor()
    
  
    try: 
        mycursor.execute(query)
        cnx.commit() 
  
    except mysql.connector.Error as err:
        print(err)
        print("Error Code:", err.errno)
        print("SQLSTATE", err.sqlstate)
        print("Message", err.msg)

In [45]:
#creamos la tabla ataques

tabla_ataques = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`ataques` (
  `id_ataques` INT NOT NULL AUTO_INCREMENT,
  `year` INT NOT NULL,
  `type` VARCHAR(250),
  `country` VARCHAR(250),
  `age` FLOAT,
  `species_` VARCHAR(250),
  `fecha_limpia` VARCHAR(250),
  `fatal` VARCHAR(50),
  `sex` VARCHAR(250),
  PRIMARY KEY (`id_ataques`))
ENGINE = InnoDB;
'''

In [47]:
#creamos la tabla clima

tabla_clima = '''
CREATE TABLE IF NOT EXISTS `tiburones`.`clima` (
    `id_clima` INT NOT NULL AUTO_INCREMENT,
    `latitud` FLOAT NOT NULL,
    `longitud` FLOAT NOT NULL,
    `country2` VARCHAR(250),
    `fatal_N` INT,
    `fatal_Unknown` INT,
    `fatal_Y` INT, 
    `fatal_N.1` INT,
    `fatal_Unknown.1` INT,
    `fatal_Y.1` INT,
    `species_.1` INT,
    `fecha_limpia.1` INT,
    `type.1` INT,
    `age_NORM` FLOAT NOT NULL, 
 PRIMARY KEY (`id_clima`))
ENGINE = InnoDB
'''

In [48]:
insertar_tabla("tiburones", 'AlumnaAdalab', tabla_ataques)

In [49]:
insertar_tabla("tiburones", 'AlumnaAdalab', tabla_clima)

BONUS Insertar los datos en las tablas.

游늷 Nota Esta parte del pair es optativa y no ser치 considerada para la evaluaci칩n.

In [50]:
#insertamos los datos en la tabla ataques

for indice, fila in df.iterrows(): 
    
    
    query_ataques = f"""
            INSERT INTO ataques (year ,type, country, age, species_, fecha_limpia, fatal, sex)         
            VALUES ( "{fila['year']}", "{fila['type']}", "{fila['country']}", "{fila['age']}","{fila['species_']}", "{fila['fecha_limpia']}","{fila['fatal']}", "{fila['sex']}");
            """
    
    insertar_tabla("tiburones", 'AlumnaAdalab', query_ataques)

In [53]:
#insertamos los datos en la tabla clima

for indice, fila in df.iterrows(): 
    
    
    query_clima = f"""
            INSERT INTO clima (latitud, longitud, country2, fatal_N, fatal_Unknown, fatal_Y, fatal_N.1, fatal_Unknown.1, fatal_Y.1, species_.1, fecha_limpia.1, type.1, age_NORM)         
            VALUES ( "{fila['latitud']}", "{fila['longitud']}", "{fila['country2']}", "{fila['fatal_N']}","{fila['fatal_Unknown']}", "{fila['fatal_Y']}","{fila['fatal_N.1']}", "{fila['fatal_Unknown.1']}","{fila['fatal_Y.1']}", "{fila['species_.1']}","{fila['fecha_limpia.1']}", "{fila['type.1']}", "{fila['age_NORM']}");
            """
    
    insertar_tabla("tiburones", 'AlumnaAdalab', query_clima)

1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22
Message Unknown column 'fatal_N.1' in 'field list'
1054 (42S22): Unknown column 'fatal_N.1' in 'field list'
Error Code: 1054
SQLSTATE 42S22

KeyboardInterrupt: